{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "60"
        }
      }
    ]
  ],
  "exclude": "node_modules/**",
  "sourceMaps": "inline"
}
